header, footer, aside, nav, form, iframe, .button-print, fieldset {
    display: none;
  }

*{
    font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

#text {
    column-width: 17em;
    column-gap: 3em;
  }
  .card-info {
    background-color: #fafafa;
    display: flex;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    
  }
  #evaluation{
    display: flex;
    flex-direction: column;
    justify-content: center;
      align-items: center;
  }
  .encabezado{
    display: flex;
    flex-direction: row;
    gap: 2em;
   justify-content: center;
   
  }
  .card-content{
    font-size: medium;
  }
  div .content1, .content2, .content3, .conviv{
   margin: 2px, 3px, 2px, 3px;
   padding: 5px;
   width: 500px;
   font-size: small;
   align-items: baseline;
   justify-content: baseline;
   margin-left: 10px;
  }
  
  @page {
    margin: 2cm;
  }