* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #131842;
  background-color: #ECCEAE;
}
header{
  background: #fbf6e256;
  border-radius: 12px;
  display: flex;
  align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
a{
  text-decoration: none;
  color:#131842;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
i {
  font-size: 23px;
  color:#E68369;
  background-color: #FBF6E2;
}
h1 {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1,
.container {
  margin: 20px auto;
}

label,
legend {
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

button {
  margin-top: 10px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  text-decoration: none;
  background-color: #E68369;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow:  16px 16px 32px #915342,
             -16px -16px 32px #ffb390;
}

button,
input,
select {
  min-height: 24px;
  border-radius: 7px;
  color: #131842;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

fieldset,
label,
button,
input {
  margin-bottom: 10px;
  width: 90%;
  max-width: 680px;
  margin: 5px;
  border-radius: 7px;
}


.hide {
  display: none;
}


#text {
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 680px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

#content-eval{
  display: flex;
  align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

}
#content-eval img{
  border-radius: 10px;
  margin: 10px;
}
select,
.entry-dropdown {
  min-height: 24px;
  max-width: 250px;
  padding: 5px;
}


.data-extra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.data {
  width: 150px;
  padding: 5px;
  margin: 10px;
}

.card-title{
  color:#131842;
  position: unset;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-around;
  background: linear-gradient(to right, #ff7f5f7e, #feb47b6b);
  font-size: medium;
}
.card-info {
  background-color: #fafafa;
  display: flex;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  
}

.card-viewer {
  background: linear-gradient(to right, #ff7f5f7e, #feb47b6b);
  background-color: #fafafa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #000;
  display: flex;
  align-items: center;
  width: auto;
  height: min-content;
  border-radius: 10px;
  margin: 20px;
  justify-content: center;
}
#evaluation{
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
}
.encabezado{
  display: flex;
  flex-direction: row;
  gap: 2em;
 justify-content: center;
 
}
.card-content{
  font-size: medium;
}
div .content1, .content2, .content3, .conviv{
 margin: 2px, 3px, 2px, 3px;
 padding: 5px;
 width: 500px;
 font-size: small;
 align-items: baseline;
 justify-content: baseline;
 margin-left: 10px;
 margin-bottom: 10px;
}
.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-print{
  font-size: small;
  width: 50px;
  height: 50px;
  display: flex;
  color:#131842;
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-radius: 120px;
  background: #FBF6E2;
  box-shadow:  10px 10px 40px #9e9b8e,
               -10px -10px 40px #ffffff;
}
.button-print:hover{
  background: #eeeeee;

}
.contiene-evaluaciones{
  display: flex;
  justify-content: center;
  color: #131842;
}
.button-print-all{
   font-size: small;
  width: 50px;
  height: 50px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-size: larger;
  border-radius: 120px;
  background: #FBF6E2;
  box-shadow:  10px 10px 40px #9e9b8e,
               -10px -10px 40px #ffffff;
}
.button-print-all i{
  color:#131842;
}
footer {
  position: static;
  width: 100%;
  bottom: 0%;
  text-align: center;
  list-style-type: none;
  background-color: #E68369;
  font-family: "Mulish", sans-serif;
  font-size: small; }
  footer nav {
    display: flex;
    justify-content: center;
    margin: 0%; }
    footer nav ul {
      margin: 0%;
      list-style-type: none;
      overflow: hidden;
      background-color: #E68369;
      display: flex;
      flex-wrap: wrap;
      color: black;
      text-align: center;
      padding: 7px 70px;
      text-decoration: none;
      font-family: "Mulish", sans-serif;
      font-size: small;
      border: none;
      justify-content: center; }
      footer nav ul li a {
        text-decoration: none;
        color: black;
        display: inline-block;
        color: black;
        text-align: center;
        padding: 7px 30px;
        text-decoration: none;
        font-family: "Mulish", sans-serif;
        font-size: small;
        border: 0cm;
        background-color: #BF4E24; }
      footer nav ul li a:hover {
        text-decoration: none;
        background-color: #BF4E24;
        opacity: 0.5; }
  footer .decoration {
    text-decoration: overline; }

    .dark{
      background: linear-gradient(to right, #2f2725b6, #201f1e9d);
      color: #fafafa;
    }


   .theme-switch {
      --toggle-size: 18px;
    
      --container-width: 5.625em;
      --container-height: 2.5em;
      --container-radius: 6.25em;
    
      --container-light-bg: #3D7EAE;
      --container-night-bg: #1D1F2C;
      --circle-container-diameter: 3.375em;
      --sun-moon-diameter: 2.125em;
      --sun-bg: #ECCA2F;
      --moon-bg: #C4C9D1;
      --spot-color: #959DB1;
      --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
      --stars-color: #fff;
      --clouds-color: #F3FDFF;
      --back-clouds-color: #AACADF;
      --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
      --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
    }
    
    .theme-switch,
    .theme-switch *,
    .theme-switch *::before,
    .theme-switch *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: var(--toggle-size);
    }
    
    .theme-switch__container {
      width: var(--container-width);
      height: var(--container-height);
      background-color: var(--container-light-bg);
      border-radius: var(--container-radius);
      overflow: hidden;
      cursor: pointer;
      -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
      box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
      -webkit-transition: var(--transition);
      -o-transition: var(--transition);
      transition: var(--transition);
      position: relative;
    }
    
    .theme-switch__container::before {
      content: "";
      position: absolute;
      z-index: 1;
      inset: 0;
      -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
      box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
      border-radius: var(--container-radius)
    }
    
    #interruptor {
      display: none;
    }
    
    .theme-switch__circle-container {
      width: var(--circle-container-diameter);
      height: var(--circle-container-diameter);
      background-color: rgba(255, 255, 255, 0.1);
      position: absolute;
      left: var(--circle-container-offset);
      top: var(--circle-container-offset);
      border-radius: var(--container-radius);
      -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: var(--circle-transition);
      -o-transition: var(--circle-transition);
      transition: var(--circle-transition);
      pointer-events: none;
    }
    
    .theme-switch__sun-moon-container {
      pointer-events: auto;
      position: relative;
      z-index: 2;
      width: var(--sun-moon-diameter);
      height: var(--sun-moon-diameter);
      margin: auto;
      border-radius: var(--container-radius);
      background-color: var(--sun-bg);
      -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
      box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
      -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
      filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
      overflow: hidden;
      -webkit-transition: var(--transition);
      -o-transition: var(--transition);
      transition: var(--transition);
    }
    
    .theme-switch__moon {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      width: 100%;
      height: 100%;
      background-color: var(--moon-bg);
      border-radius: inherit;
      -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
      box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
      -webkit-transition: var(--transition);
      -o-transition: var(--transition);
      transition: var(--transition);
      position: relative;
    }
    
    .theme-switch__spot {
      position: absolute;
      top: 0.75em;
      left: 0.312em;
      width: 0.75em;
      height: 0.75em;
      border-radius: var(--container-radius);
      background-color: var(--spot-color);
      -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
      box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    }
    
    .theme-switch__spot:nth-of-type(2) {
      width: 0.375em;
      height: 0.375em;
      top: 0.937em;
      left: 1.375em;
    }
    
    .theme-switch__spot:nth-last-of-type(3) {
      width: 0.25em;
      height: 0.25em;
      top: 0.312em;
      left: 0.812em;
    }
    
    .theme-switch__clouds {
      width: 1.25em;
      height: 1.25em;
      background-color: var(--clouds-color);
      border-radius: var(--container-radius);
      position: absolute;
      bottom: -0.625em;
      left: 0.312em;
      -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
      box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
      -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
      -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
      transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    }
    
    .theme-switch__stars-container {
      position: absolute;
      color: var(--stars-color);
      top: -100%;
      left: 0.312em;
      width: 2.75em;
      height: auto;
      -webkit-transition: var(--transition);
      -o-transition: var(--transition);
      transition: var(--transition);
    }
    
    /* actions */
    
    .theme-switch__checkbox:checked+.theme-switch__container {
      background-color: var(--container-night-bg);
    }
    
    .theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
      left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
    }
    
    .theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
      left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
    }
    
    .theme-switch__circle-container:hover {
      left: calc(var(--circle-container-offset) + 0.187em);
    }
    
    .theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
    }
    
    .theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
      bottom: -4.062em;
    }
    
    .theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    
    




/* Mobile */
@media (max-width:655px) {

  .content1, .content2, .content3, .conviv{
    margin: 2px, 3px, 2px, 3px;
    padding: 5px;
    width: fit-content;
    margin-right: 62px;
   }
}